
@import "//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic";
@import "//fonts.googleapis.com/css?family=Montserrat:400,700";
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix::after {
    clear: both;
}
.hide-text {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font-size: 0;
    line-height: 0;
    text-shadow: none;
}
.input-block-level {
    box-sizing: border-box;
    display: block;
    min-height: 1px;
    width: 100%;
}
@keyframes h-progress {
    0% {
        width: 0;
    }
}
@keyframes h-progress {
    0% {
        width: 0;
    }
}
@keyframes v-progress {
    0% {
        height: 0;
    }
}
@keyframes v-progress {
    0% {
        height: 0;
    }
}
.icemegamenu {
    float: right;
    margin-bottom: 28px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: static;
}
.icemegamenu > ul {
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 999;
}
.icemegamenu > ul::before, .icemegamenu > ul::after {
    content: "";
    display: table;
    line-height: 0;
}
.icemegamenu > ul::after {
    clear: both;
}
.icemegamenu > ul > li {
    display: block;
    float: left;
    position: relative;
    z-index: 1;
}
.icemegamenu > ul > li + li {
    margin-left: 25px;
}
.icemegamenu > ul > li > a.iceMenuTitle {
    border-radius: 20px;
    display: block;
    font: 22px/25px "Montserrat",sans-serif;
    padding: 12px 22px 16px;
    position: relative;
    z-index: 1;
}
.icemegamenu > ul > li > a.iceMenuTitle * {
    font: inherit;
}
.icemegamenu > ul > li span.icemega_desc {
    color: #ffffff;
    display: block;
    line-height: 1.25em;
    padding: 0;
}
.icemegamenu > ul > li.fullwidth {
    position: static;
}
.icemegamenu .ice-megamenu-toggle {
    display: none;
}
.icemegamenu > ul > li > a.iceMenuTitle > span.icemega_nosubtitle {
    display: inline-block;
}
ul.icesubMenu {
    border: medium none;
    border-radius: 10px;
    height: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding: 18px 0;
    pointer-events: none;
    position: absolute;
    text-align: left;
    text-transform: capitalize;
    top: 100%;
    transform: translate(0%, 30px);
    transition: all 0.25s ease-out 0s;
    z-index: 9999;
}
ul.icesubMenu li a.iceMenuTitle {
    display: block;
    font: 16px/25px "Montserrat",sans-serif;
    padding: 5px 21px;
}
ul.icesubMenu li ul {
    margin-bottom: 0;
}
ul.icesubMenu.sub_level_1 {
    margin-top: 11px;
}
ul.icesubMenu.sub_level_2 {
    margin-top: -15px;
}
li[class*="iceMenuLiLevel"] {
    padding: 0;
}
li[class*="iceMenuLiLevel"]::before {
    display: none;
}
#icemegamenu li.iceMenuLiLevel_1.hover > ul.icesubMenu {
    opacity: 1;
    overflow: visible;
    pointer-events: auto;
    transform: translate(0%, 0px);
}
#icemegamenu li.iceMenuLiLevel_1.hover.menu-login-form > ul.icesubMenu {
    transform: translate(0px, 0px);
}
ul.icesubMenu.sub_level_2::before, ul.icesubMenu.sub_level_2::after {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    content: "";
    position: absolute;
    top: 23px;
}
ul.icesubMenu.sub_level_2::before {
    left: -5px;
}
ul.icesubMenu.sub_level_2::after {
    border-right: 5px solid #fff;
    left: -4px;
}
#icemegamenu li.iceMenuLiLevel_1 li.hover > ul.icesubMenu {
    height: auto;
    opacity: 1;
    overflow: visible;
    pointer-events: auto;
    transform: translate(0px, 0px);
}
#icemegamenu ul.icesubMenu.visible {
    height: auto;
}
ul.icesubMenu ul > li {
    position: relative;
}
li.iceMenuLiLevel_2.parent > a::after {
    content: "ï”";
    font-family: FontAwesome;
    font-size: 8px;
    height: 0;
    line-height: 0;
    position: absolute;
    right: 7px;
    top: 50%;
}
li.iceMenuLiLevel_2.parent.hover a {
    position: relative;
}
li.iceMenuLiLevel_2.parent.hover a::before {
    content: "";
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    width: 11px;
}
ul.icesubMenu > li::before {
    display: none;
}
ul.icesubMenu > li > .iceCols {
    max-width: 100% !important;
}
ul.icesubMenu > li > .iceCols > ul > li + li .icemega_cover_module {
    margin-top: 18px;
    padding-top: 28px;
}
ul.sub_level_2, ul.sub_level_3, ul.sub_level_4, ul.sub_level_5 {
    left: 100%;
    margin-left: 10px;
    top: 0;
    transform: translate(30px, 0px);
    z-index: 99999;
}
ul.icesubMenu ul > li.hover > ul {
    opacity: 1;
    overflow: visible;
    transform: translate(0px, 0px);
    visibility: visible;
}
.icesubMenu .icemega_cover_module span.iceModuleTile {
    display: block;
}
.ice_righttoleft {
    left: auto !important;
    right: 0;
}
.icemega_modulewrap {
    padding: 5px;
}
.nav-collapse .icesubMenu .nav > li > a, .nav-collapse .icesubMenu .dropdown-menu a {
    margin-bottom: 0;
    padding: 0;
}
.nav-collapse.collapse {
    height: auto;
}
.fullwidth {
    position: static !important;
}
.fullwidth.hover ul.icesubMenu.sub_level_1 {
    transform: translate(0px, 0px) !important;
}
.fullwidth ul.icesubMenu.sub_level_1 {
    left: 0;
    padding: 0;
    transform: translate(0px, 30px);
}
.fullwidth ul.icesubMenu.sub_level_1::before {
    display: none;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing {
    margin: 0;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .mod-newsflash-adv__pricing {
    margin-bottom: 0;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item {
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item .item_content {
    padding: 15px 19px;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item .item_content .item_title {
    margin-bottom: 0;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item .item_introtext p {
    display: none;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item .item_introtext .price {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item .item_introtext .price strong {
    display: block;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item .item_introtext .price small {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-left: 10px;
    vertical-align: bottom;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap {
    padding: 0;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.aside {
    padding-top: 20px;
}
.fullwidth ul.icesubMenu.sub_level_1 .iceCols > ul {
    padding: 0 28px;
}
.fullwidth ul.icesubMenu.sub_level_1 > li {
    padding: 24px 1px 23px 3px;
    position: relative;
}
.fullwidth ul.icesubMenu.sub_level_1 > li > .iceCols + .iceCols::before {
    bottom: 31px;
    content: "";
    position: absolute;
    top: 30px;
    width: 1px;
}
@media (max-width: 979px) {
    .icemegamenu {
        overflow: visible !important;
    }
}