/*==================  RD Parallax    ======================*/
.parallax {
    position: relative;
    overflow: hidden;
}
.parallax_image,
.parallax_pattern {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-position: center center;
    will-change: transform;
}
.parallax_image {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.parallax_pattern {
    background-repeat: repeat;
}
.parallax_cnt {
    position: relative;
}